.VIheading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-image: linear-gradient(to right,black,black,rgb(231, 54, 0));
    background-size: 100% 120%;
    color: #fff;
    height:100px;
    padding-top: 20px;
    text-shadow: 2px 2px 10px #000;
    font-weight: 300;
    font-size: 30px;
}
.Vehicle_info_bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
}

.Vehicle_info{
    border: solid rgba(0, 0, 0, 0.274) 1px;
    padding-left:50px ;
    padding-top:20px;
    text-align: left;
    width:500px;
    margin-left:auto ;
    margin-right:auto ;
    margin-top: 20px;
    height:  420px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    /* border: solid rgba(0, 0, 0, 0.212) 1px; */
    /* background-image: linear-gradient(to right,rgba(231, 54, 0, 0.644),black); */

}
.back{
    
    /* position: absolute; */
    height: 15px;
    width: 15px;
    background-image: url(../Input_vehicle/backarrow.png);
    margin-left: -40px;
    margin-top: -10px;
    background-size: 100% 100%;
}
.back:hover{
    transform: scale(.9)
}

.VI_input{
   
    margin-bottom: 15px;
    background:white;
    border: solid rgba(0, 0, 0, 0.274) 2px;
    height: 40px;
    width: 400px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    outline: none;
    padding-left: 5px;
}
.VI_input:focus{
    box-shadow:rgba(231, 54, 0, 0.597) 0px 0px 0px 2px;
}
.VI_textarea{
   
  
    background:white;
    border: solid rgba(0, 0, 0, 0.274) 2px;
    height: 40px;
    width: 400px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    outline: none;
    padding-left: 5px;
}
.VI_submit{
    height: 40px;
    width: 400px;
    border:solid rgb(255, 81, 0) 2px;
    border-radius: 5px;
    background:rgb(255, 81, 0) ;
    color: white;
    transition: .3s;
    margin-top: 15px;
    font-weight: 500;
    font-size: 20px;
}

.VI_submit:hover{
    background-color:rgba(255, 81, 0, 0.658)
}

.RSbtn{
    margin-top: 50%;
}