*{margin: 0; padding: 0; box-sizing: border-box; text-decoration: none;}

.heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-image: linear-gradient(to right,black,black,rgb(231, 54, 0));
    background-size: 100% 120%;
    color: #fff;
    height:100px;
    padding-top: 35px;
    text-shadow: 2px 2px 10px #000;
}
.heading h5{
    font-style: italic;
}
.heading h2{
    font-weight: 450;
}



/* 

.Navbar{
    background-color: rgb(32, 32, 32);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 30px;
    padding-top: 4px;
}
a.activelink{
    background-color: rgb(24, 24, 24);
    color:rgb(238, 70, 20);
}
.inactive{
    margin-right: 10px;
    color:rgb(255, 255, 255);
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.inactive:hover{
    background-color: rgb(24, 24, 24);
}
.profile_icon{
    float: right;
    color: #fff;
    margin-right: 10px;

}
.dp{
    float: right;
    margin-right: 10px;
}
.profile_icon:hover{ 
    color:rgb(238, 70, 20);
} */








/* 
.T_and_C{
    padding-left:10%;
    padding-right:10% ;
    padding-top: 3%;
    height: 600px;
    background: rgb(252, 243, 229);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.T_and_C h2{
    padding-bottom:20px;
} */









/* .contact_title h1{
    background-image: url(header-Contact-us.jpg);
    background-size: 250%;
    height:600px;
    text-align: center;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 50px;
    position: relative;
}
.sub_head1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 255, 255);
    height:200px;
    width: 20%;
    text-align: center;
    padding-top: 2%;
    position:absolute;
    top: 300px;
    left:300px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.562);
    color: rgb(0, 0, 73);
    
}
.sub_head2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:200px;
    width: 20%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 2%;
    position:absolute;
    top:300px;
    right:300px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.562);
    color: rgb(0, 0, 73);
}
.sub_head1 h3{
    font-weight: 400;
}
.sub_head1 h4{
    font-weight: 400;
}
.sub_head2 h3{
    font-weight: 400;
}
.sub_head2 h4{
    font-weight: 400;
} */